* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-image: url(../assets/background.jpg);
    background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: color;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
}

img {
    max-width: 100%;
}

header {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#content-search {
    width: 100%;
    display: flex;
    justify-content: center;
}

form#content-search > input#input-pokemon {
    height: 4.5rem;
    font-size: 1.7rem;
    padding-left: 14px;
    width: 90%;
    max-width: 30rem;
    min-width: 30rem;
    border: none;
    border-left: 3px solid #55bb3b;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

form#content-search > button#search-pokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 4.5rem;
    font-size: 2rem;
    border: none;
    width: 50%;
    max-width: 20rem;
    min-width: 20rem;
    background: #55bb3b;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

main#container-pokemon {
    width: 80%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-image: url(../assets/background-card.jpeg); 
    background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: color;
    background-size: cover;
    background-position: center;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

main#container-pokemon h1.name-pokemon {
    font-size: 3rem;
    margin-top: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

main#container-pokemon #next-pokemon,
main#container-pokemon #prev-pokemon {
    position: absolute;
    right: 10px;
    top: 130px;
    background: none;
    border: 0;
    cursor: pointer;
}

#prev-pokemon {
    left: 10px;
}

main#container-pokemon img {
    height: 12rem;
}

main#container-pokemon .content-stats {
    text-align: center;
    margin-top: 5rem;
}

.style-powers-pokemon {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: .8rem;
}

@media (max-width: 768px) {
    form#content-search {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        width: 100%;
        max-width: 90rem;
    }

    form#content-search > button#search-pokemon, 
    form#content-search > input#input-pokemon {
        width: 100%;
        max-width: 70rem;
        min-width: 0;
    }

    main#container-pokemon{
        max-width: 70rem;
    }
}
